.notify-link {
	color: #f7a061;
	text-decoration: none;
	transition: 0.4s all;
}

.notify-link:hover {
	color: ;
}

.ambiance.ambiance-default {
	padding: 20px;
}
.ambiance:hover {
	border-color: transparent;
}